apiVersion: db.atlasgo.io/v1alpha1
kind: AtlasMigration
metadata:
  name: appmigration
spec:
  cloud:
    tokenFrom:
      secretKeyRef:
        key: ATLAS_TOKEN
        name: atlas-token
  protectedFlows:
    migrateDown:
      allow: true
  urlFrom:
    secretKeyRef:
      key: url
      name: postgres-credentials
  dir:
    configMapRef:
      name: migrations-configmap
    remote:
      name: atlas-argo-demo
      tag: fb9fa1f68caf5d965c5a8d0a9591a5f64186a095


